假设我们遇到了这么一种情况：

    我们收到了同一地区同一时刻的两组不同的探空资料（这假设很扯额 (-.-||) ）  

    这两个探空资料的特点是：   
        1、有部分气压层重叠   
        2、气压层间隔不固定   
    
    然后我们（又）被任命了一个（hen任务，那就是把这两组探空数据融合成一组
    
下面要演示怎么做才能完成这个很扯的任务

In [1]:
import numpy as np
import pandas as pd
from random import random

模拟两个不规则的气压分布

In [2]:
index1 = [int(p+random()*10) for p in range(1000,500,-50)]
index2 = [int(p+random()*10) for p in range(700,300,-20)]

根据两个索引的长度分别模拟两个对应气压层的温度列表

In [3]:
value1 = [round(t+random()*5,2) for t in np.linspace(25,-18,len(index1))]
value2 = [round(t+random()*5,2) for t in np.linspace(0,-35,len(index2))]

构建DataFrame

In [4]:
df1 = pd.DataFrame({'Pres(hPa)':index1,'Temp(degC)':value1})
df2 = pd.DataFrame({'Pres(hPa)':index2,'Temp(degC)':value2})

至此，我们就模拟了两个不同气压层索引的气温观测数据，   
这两个数据表并不在一个统一的气压层索引中，   
甚至二者的气压层分布都没有一个固定的规律。   
具体如下

In [5]:
df1

   Pres(hPa)  Temp(degC)
0       1002       26.61
1        959       22.21
2        905       17.42
3        851       11.48
4        806        6.52
5        753        5.95
6        707        0.42
7        650       -5.12
8        601      -10.31
9        557      -15.89

In [6]:
df2

    Pres(hPa)  Temp(degC)
0         706        1.52
1         685       -0.74
2         669        1.27
3         649       -5.45
4         624       -4.57
5         609       -5.08
6         589       -6.18
7         561       -9.09
8         547      -12.05
9         526      -12.01
10        503      -16.90
11        487      -15.82
12        467      -18.74
13        448      -23.90
14        422      -20.95
15        404      -27.10
16        387      -25.23
17        369      -27.13
18        347      -33.11
19        321      -34.09

我们现在要做的就是把这两个数据表按照气压值融合统一成一个表   
并按气压降序排列

首先将它们拼接在一起

In [7]:
df = pd.merge(df1,df2,how='outer')
df

    Pres(hPa)  Temp(degC)
0        1002       26.61
1         959       22.21
2         905       17.42
3         851       11.48
4         806        6.52
5         753        5.95
6         707        0.42
7         650       -5.12
8         601      -10.31
9         557      -15.89
10        706        1.52
11        685       -0.74
12        669        1.27
13        649       -5.45
14        624       -4.57
15        609       -5.08
16        589       -6.18
17        561       -9.09
18        547      -12.05
19        526      -12.01
20        503      -16.90
21        487      -15.82
22        467      -18.74
23        448      -23.90
24        422      -20.95
25        404      -27.10
26        387      -25.23
27        369      -27.13
28        347      -33.11
29        321      -34.09

这种拼接只是单纯地将两个表进行了首尾拼接，可以看出在在第9行到第10行气压有一个跃迁，   
它实际上是从第一个表格的最后一个量跳到第二个表格的第一个量了。   
因此我们还需要对它们进行一次重新排序

In [8]:
df = df.sort_values('Pres(hPa)',axis=0,ascending=False)
df

    Pres(hPa)  Temp(degC)
0        1002       26.61
1         959       22.21
2         905       17.42
3         851       11.48
4         806        6.52
5         753        5.95
6         707        0.42
10        706        1.52
11        685       -0.74
12        669        1.27
7         650       -5.12
13        649       -5.45
14        624       -4.57
15        609       -5.08
8         601      -10.31
16        589       -6.18
17        561       -9.09
9         557      -15.89
18        547      -12.05
19        526      -12.01
20        503      -16.90
21        487      -15.82
22        467      -18.74
23        448      -23.90
24        422      -20.95
25        404      -27.10
26        387      -25.23
27        369      -27.13
28        347      -33.11
29        321      -34.09

如果

In [9]:
df = df.drop_duplicates()
df

    Pres(hPa)  Temp(degC)
0        1002       26.61
1         959       22.21
2         905       17.42
3         851       11.48
4         806        6.52
5         753        5.95
6         707        0.42
10        706        1.52
11        685       -0.74
12        669        1.27
7         650       -5.12
13        649       -5.45
14        624       -4.57
15        609       -5.08
8         601      -10.31
16        589       -6.18
17        561       -9.09
9         557      -15.89
18        547      -12.05
19        526      -12.01
20        503      -16.90
21        487      -15.82
22        467      -18.74
23        448      -23.90
24        422      -20.95
25        404      -27.10
26        387      -25.23
27        369      -27.13
28        347      -33.11
29        321      -34.09

好吧我承认这个模拟的数值不太符合实际大气的情况